{% if DISPLAY_TAGS_ON_SIDEBAR is not defined %}
{% set DISPLAY_TAGS_ON_SIDEBAR = True %}
{% endif %}
<section>
    {% include 'includes/article_google_adsense.html' %}

    {% if SOCIAL %}
    <h2>Onde me encontrar</h2>
    <ul>
        {% for name, link in SOCIAL %}
        <li class="list-group-item"><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if DISPLAY_RECENT_POSTS_ON_SIDEBAR %}
    {% if RECENT_POST_COUNT is not defined %}
    {% set RECENT_POST_COUNT = 5 %}
    {% endif %}
    <li class="list-group-item"><h4><i class="icon-home icon-large"></i>Recent Posts</h4></li>
    {% for article in articles[:RECENT_POST_COUNT] %}
    <li class="list-group-item">
        <a href="{{ SITEURL }}/{{ article.url }}">
            {{ article.title }}
        </a>
    </li>
    {% endfor %}
    {% endif %}

    <h2>Categorias</h2>
    <ul>
        {% for cat, null in categories %}
        <li class="list-group-item">
            <a href="{{ SITEURL }}/{{ cat.url }}">
                <i class="icon-folder-open icon-large"></i>{{ cat }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
